@using RazorClassLibrary1.MessageBox
@inject IAttachment Attachment
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2188693">brief survey</a>
    </span>
    and tell us what you think.
</div>
<button class="btn btn-primary" @onclick="OpenFile">Open</button>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    public async void OpenFile()
    {
        Attachment.FileName = @"C:\temp\AsyncProcessFlow.png";
        if (await Attachment.Open() < 0)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(MessageBoxOKCancel.Message), "Operation Unsupported");

            Modal.Show<MessageBoxOKCancel>("Attachment Open", parameters);
        }
    }
}
